
.img-fluid {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}
.footer_section {
    background-color: lightgrey;
    padding: 7px 0px;
}
/*
ul li {
    display: block;
    color: #606060;
    line-height: 1.8;
    margin-left: -30px;
}
ul li:hover {
    cursor: pointer;
    color: #bab9b5;
}
.cards {
    padding: 8px 8px;
}
.para {
    padding: 0px 96px 0px 0px;
}
.input_email {
    padding: 5px 175px 5px 5px;
}
.btn {
    margin-top: 10px;
    padding: 5px 147px;
}
.terms {
    margin-left: 2px;
}
*/