
.img-fluid {
    width: 100%;
    height: 600px;
    border-radius: 10px;
}
.footer_section {
    background-color: lightgrey;
    padding: 7px 0px;
}
.Nav_space {
    margin-top: -12px;
}
.card_overlay {
    margin-top: 240px;
}
.Nav_Bar {
    text-decoration: none;
    color:black;
}